body {
	background: url('bg.jpg');
}

a {
	color: #eee;
}

a:hover {
	color: #fff;
}

fieldset {
	margin: 0 0 10px;
}

legend {
	margin: 0 0 10px;
}

#filtros div {
	word-wrap: break-word;
}

#filtros a {
	color: #34495e;
	padding: 2px 8px;
}

#filtros a:hover {
	background-color: #eee;
}

#filtros .selected {
	background-color: #ffcc00;
}

#filtros ul {
	list-style-image: none;
}

#filtros ul li {
	float: left;
	line-height: 20px;
}

.title {
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: 400;	
	color: #34495e;
}

.value {
	font-family: 'Open Sans';
	font-size: 64px;
	font-weight: 800;
	color: #34495e;
	width: 100%;
	text-align: right;
	text-shadow: 1px 1px 0 #000;
}